.main-layout {
  display: flex;
  height: calc(100vh - 60px); 
  background-color: #f1f3f4; 
}

.notesIcon{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}


.notesIcon-hover:hover{
  background: lightgray;  

}